@import url(./vendor/normalize.css);

@import url(./fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/logo/logo.css);

@import url(./blocks/header/header.css);

@import url(./blocks/container/container.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__card/profile__card.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__img/profile__img.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/fotos/fotos.css);
@import url(./blocks/fotos/__title/fotos__title.css);
@import url(./blocks/fotos/__heading/fotos__heading.css);
@import url(./blocks/fotos/__img/fotos__img.css);
@import url(./blocks/fotos/__card/fotos__card.css);
@import url(./blocks/fotos/__like-button/fotos__like-button.css);
@import url(./blocks/fotos/__like-button/_active/fotos__like-button_active.css);
@import url(./blocks/fotos/__trash-button/fotos__trash-button.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copy/footer__copy.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__inputs/popup__inputs.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__bg/popup__bg.css);
@import url(./blocks/popup/__foto/popup__foto.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__text/popup__text.css);